.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}

    /* .button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
}  */

body {
    background-image: url("https://cdn.mos.cms.futurecdn.net/BfemybeKVXCf9pgX9WCxsc-1200-80.jpg.webp");
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

#stokeText {
    font-size: 50px;
}

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; 
} */

.exitSerenityMode {
    display: none;
}


h1 {
    color: orange;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    

}

h2 {
    color: orange;
    font-size: 25;
    font-family: 'Courier New', Courier, monospace;
}


/* .fire {
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    margin-right: 100px; */



/* .fireAnimation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
    margin-right: 250px;
}   */


.textBox textarea {
    width: 200px; 
    height: 200px; 
    resize: none; 
    padding: none; 
    background-color: black;
    color: white;
    
}

